__pycache__/
_naturalis*
_naturalis.cpython-*
_naturalis*.so
_naturalis*.pyd
_naturalis*.dll
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.installed.cfg
.vscode
*.egg
*.egg-info/
*.py[cod]
bin/
build/
.cache/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
var/
venv/